<div class="content">
  <div class="post">
    <h1>Hello, Winos!</h1>
  
  <br></br>

    <%= image_tag current_user.picture_url %>

    <h2>
      <%= @user.full_name %>
    </h2>
  </div>
  <% @posts.each do |post| %>
    <%= render "posts/post", post: post %>
  <% end %>
</div>
