@import url(//fonts.googleapis.com/css?family=Gloria+Hallelujah);

body {
  font-family: 'Helvetica';
  background-color: #19db9a;
  color: white;
  font-size: 14px;
}

a {
  color: black;
}

.alert {
  color: red;
  border: 5px solid black;
  padding: 10px; 
}